__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

venv/
.env/
.env.*

.DS_Store
Thumbs.db
.vscode/
.idea/

*.log

.ipynb_checkpoints/

uploads/
*.pdf

faiss_index/
*.faiss
*.pkl

__pycache__/
*.sqlite3

.cache/
.huggingface/

tmp/
temp/